*.o
*.conf

.vscode

run.sh

tools/eposcfg/eposcfg
tools/eposmkbi/eposmkbi

app/hello/hello
app/philosophers_dinner/philosophers_dinner
app/producer_consumer/producer_consumer
app/tests/tests

img/*
!img/.makefile